<!doctype html>
<html class="no-js" lang="", ng-app="comtrade"> <!--- ng app je za incldanje! -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Typescript basic setup</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!--
<p>This will be changed out by typescript.</p>
<p>{{5 +5}}</p>  -->


<!-- ng models -->
<!--<input type="text" ng-model="data">
<p>{{data}}</p>

<input type="checkbox" ng-model="boxek">
<p>{{boxek}}</p>-->

<!-- ng-show, ng-hide, ng-if-->
<!---<p ng-show="boxek"> Visible when true </p>
<p ng-hide="boxek"> Visible when false </p>
<p ng-if="boxek"> Same as g-show but removes from DOM </p>

<div ng-init="persons" =['Miha', 'Joze', 'Janez']>
<ul>
    <li ng-repeat="person in persons">{{persons}}</li>
</ul>

</div>
<div ng-controller="MainController as $Mainctrl">
    <p>{{$Mainctrl.foo}}</p>
    <button ng-click="$addCtrl.fire()">Fire</button>
    
</div>-->
<p>Wash the laundry: add items to wash</p>


</div>


<div ng-controller="MainController as $todoCtrl">
    <div class="col-xs-12 well" ng-controller="SecondController as $secondCtrl">
    <p><input type="checkbox" ng-model="showcomplete">Show completed</p>
    
    <input type="text" class="form-control" ng-model="$secondCtrl.name">
    
    <button class="btn btn-primary" ng-click="$secondCtrl.add($secondCtrl.name)">
        Add as service
    </button>
    <button class="btn btn-primary" ng-click="$secondCtrl.add2($secondCtrl.name)">
        Add as service wtih timout
    </button>
        <p>Repeat po serviceu</p>
    <ol>
        <li ng-repeat = "task in $secondCtrl.dataService.tasks">
            <span ng-if="showcomplete && task.completion || !task.completion" ng-style="task.completion && {'text-decoration':'line-through'}"> 
                {{task}}           
            </span><input type="checkbox" ng-model="task.completion">
        </li>
    </ol>
    <button class="btn btn-primary" ng-click="$secondCtrl.removeCompleted()">
        Remove as service
    </button>
    <button class="btn btn-primary" ng-click="$secondCtrl.removeCompleted2()">
        Remove as service with timeout
    </button>
    
     </div>
</div>

<!---
<div class="container">
    <div class="row">
        
        <div class="col-xs-12 well" ng-controller="SecondController as $secondCtrl">
            <input type="text" class="form-control" ng-model="$secondCtrl.dataService.bar">
            <pre>{{ $secondCtrl.dataService}}</pre>

            <button class="btn btn-primary" ng-click="$secondCtrl.fire()">Fire</button>

            <div class="col-xs-12 well my-2" ng-controller="ThirdController as $thirdCtrl">
                <input type="text" class="form-control" ng-model="$thirdCtrl.dataService.bar">
                <pre>{{ $thirdCtrl.dataService}}</pre>


            </div>

        </div>



        <div class="col-xs-12 well my-2" ng-controller="ThirdController as $thirdCtrl">
            <input type="text" class="form-control" ng-model="$thirdCtrl.dataService.bar">
            <pre>{{ $thirdCtrl.dataService}}</pre>


        </div>

    </div>
</div>
-->
<script src="js/bundle.js"></script>
</body>
</html>

